.container {
  display: grid;
  height: 100vh !important;
  align-items: center;
}
.btn-block {
  width: 100%;
}
.card {
  /* background: linear-gradient(135deg, #aecaef 0%, #e1d7f2 100%); */
  display: grid;
  align-items: center;
}
.img-section {
  position: relative;
}
.bg-img{
  background-size: cover;
}
.img-text {
  position: absolute;
  top: 5%;
  left: 10%;
  color: white;
}
.line{
  position: relative;
  height: 1px;
  width: 100%;
  margin: 36px 0;
  background-color: #d4d4d4;
}
.line::before{
  content: 'Or';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  color: #8b8b8b;
  padding: 0 15px;
}
