body {
  display: grid;
  height: 120vh !important;
  align-items: center;
  background-image: url(assets/bg-img.jpg);
  background-size: cover;
  font-family: "Poppins", sans-serif;
}
.logo {
  position: absolute;
  top: 5%;
  left: 10%;
  height: 30px;
  width: auto;
}
.card-custom-radius {
  border-radius: 12px !important;
}

#card-bg-img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  border-radius: 12px 0px 0px 12px !important;
  position: relative;
}

.img-section {
  position: relative;
  overflow: hidden;
}
.slogon-text {
  position: absolute;
  top: 40%;
  left: 10%;
}

.form-control-custom {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #000000;
  background-color: #f7f7f7;
  background-clip: padding-box;
  border: none !important;
  border-bottom: 2px solid black !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control-custom:focus {
  outline: 0;
}

.form-check-input {
  width: 20px;
  height: 20px;
  border-radius: 0px;
}

.form-check-input:checked {
  background-color: black;
  border-color: black;
}

.form-check-input:checked:after {
  display: block;
  width: 9px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  position: absolute;
  top: 4px;
  left: 7px;
}

.btn-custom {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary-custom {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-primary-custom:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

.btn-primary-custom.focus,
.btn-primary-custom:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-primary-custom.disabled,
.btn-primary-custom:disabled {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-primary-custom:not(:disabled):not(.disabled).active,
.btn-primary-custom:not(:disabled):not(.disabled):active,
.show > .btn-primary-custom.dropdown-toggle {
  color: #fff;
  background-color: #1d2124;
  border-color: #171a1d;
}

.btn-primary-custom:not(:disabled):not(.disabled).active:focus,
.btn-primary-custom:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary-custom.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-block {
  width: 100%;
}

.btn-outline-primary-custom {
  color: #343a40;
  background-color: transparent;
  background-image: none;
  border-color: #343a40;
}

.btn-outline-primary-custom:hover {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-outline-primary-custom.focus,
.btn-outline-dark:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-outline-primary-custom.disabled,
.btn-outline-primary-custom:disabled {
  color: #343a40;
  background-color: transparent;
}

.btn-outline-primary-custom:not(:disabled):not(.disabled).active,
.btn-outline-primary-custom:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary-custom.dropdown-toggle {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-outline-primary-custom:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary-custom:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-primary-custom.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.line {
  position: relative;
  height: 1px;
  width: 100%;
  margin-left: 36px 0;
  margin-right: 36px 0;
  background-color: #d4d4d4;
}

.line::before {
  content: "or";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: #8b8b8b;
  padding: 0 15px;
}

.social-icon {
  transition: transform 500ms;
}

.social-icon:hover {
  transform: scale(1.4);
}
/* .form-select {
  width: 100%;
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #000000;
  background-color: #f7f7f7;
  background-clip: padding-box;
  border: none !important;
  border-radius: 0px !important;
  border-bottom: 2px solid black !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-select:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
} */
